<div class="wrapper">
  <div class="opener">
    <h1>Welcome to NewsScaper!</h1>
    <br>
    <button id="getScrape"><a href="/scrape">Scrape New Articles</a></button>
  </div>

  <div class="articles">
    {{#each articles}}
    <div id="article">

      <a href={{this.link}}>
        <h3 data-id="{{this._id}}">{{this.title}}</h1>
          {{!-- <p>{{this.title}}</p> --}}

          {{#if this.img}}
          <img src={{this.img}} alt="photo"></img>
          {{/if}}
          <p>{{this.text}}</p>
      </a>
      {{!-- <button id="favorite">Save Article</button> --}}
      <button id="addNote" data-id="{{this._id}}">Add Note</button>
      <p>--------</p>
      <div id="notes"> </div>
      {{/each}}
    </div>

  </div>
</div>